.about__com{
    display: flex;
    justify-content: space-between;
    
}

.about-title{
    background-color: bisque;
    color: green;
    padding: 20px;
}


.about-title-2 {
    background-color: rgb(9, 236, 168);
    color: green;
    padding: 20px;
}