.conta-card{
    width: 200px;
    background-color: aqua;
    border-radius: 5px;
    padding: 20px 10px;
    margin-top: 20px;
    text-align: center;
    h1{
        color: red;
    }
    p{
        color: yellow;
    }
    h1:hover{
      color: yellow;
    }
    p :hover{
        color: red;
    }
}